{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="image-container">
         <!-- Poglądowo wstawione na sztywno -->
            <img src="../static/images/kam-idris-_HqHX3LBN18-unsplash.jpg" alt="pomieszczenie">
        </div>
        <div class="about">
            <div>
            <p class="title">{{ property.title }}</p>
            <p class="location-description">{{ property.location }}</p>
            <p class="area-description"> 300 m²</p>
            </div>
            <p class="description">{{ property.description }}</p>
            <div>
            <p class="price-description"><strong>{{ property.price }}</strong> /miesięcznie</p>
            <a href="{{ url_for('signup') }}" class="button-description">SKONTAKTUJ SIĘ Z NAMI</a>
            </div>
        </div>
        
    </div>


{% endblock %}
