:root {
    --primary-color: #001725;
    --secondary-color: #F15941;
    --base900: #1F2223;
    --base800: #363939;
    --base700: #57595A;
    --base600: #797A7B;
    --base500: #8E9090;
    --base400: #B1B2B2;
    --base300: #D2D3D3;
    --base200: #EAEAEA;
    --base100: #F6F6F6;
    --base000: #fff;
}
  