body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
}

.property-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.property-card {
    position: relative;
    width: 300px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hit-counter {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #ff6347;  /* Choose a color that stands out */
    color: white;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
}


.property-item {
    border: 1px solid #ddd;
    padding: 1em;
    width: 200px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 400px;
    margin: auto;
}

label, input, textarea, button {
    font-size: 1em;
}

button {
    padding: 0.5em;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.button {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.5em;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.button:hover {
    background-color: #0056b3;
}

